{{- $fullName := promptString "Full Name" -}}
{{- $email := promptString "Email" -}}
data:
  user:
    full_name: {{ $fullName }}
    email: {{ $email }}
  nvim:
    ai:
      default:
        adapter: ollama
