# Tmux
# Run: tmux new-session -A -s home

# ASDF
source $HOME/.local/share/asdf/asdf.sh

# completions
ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/zsh"
fpath=($ZSH_CACHE_DIR/completions $fpath)
fpath=($HOME/.local/share/asdf/completions $fpath)

autoload -Uz compinit
[[ -n ${ZDOTDIR}/.zcompdump(#qN.mh+24) ]] && compinit || compinit -C

# direnv export
(( ${+commands[direnv]} )) && emulate zsh -c "$(direnv export zsh)"

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]
then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
source $HOME/.config/zsh/powerlevel10k/powerlevel10k.zsh-theme
{{- else -}}
source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
{{- end }}

# vi-mode
function zvm_config() {
    ZVM_LINE_INIT_MODE=$ZVM_MODE_INSERT
    ZVM_VI_INSERT_ESCAPE_BINDKEY=jk
    ZVM_VI_HIGHLIGHT_BACKGROUND=#264f78
}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
source $HOME/.config/zsh/zsh-vi-mode/zsh-vi-mode.plugin.zsh
{{- else -}}
source /usr/share/zsh/plugins/zsh-vi-mode/zsh-vi-mode.plugin.zsh
{{- end }}

# direnv hook
(( ${+commands[direnv]} )) && emulate zsh -c "$(direnv hook zsh)"

# fzf
function setup_fzf() {
    {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
    source /usr/share/doc/fzf/examples/key-bindings.zsh
    source /usr/share/doc/fzf/examples/completion.zsh
    {{- else -}}
    source /usr/share/fzf/key-bindings.zsh
    source /usr/share/fzf/completion.zsh
    {{- end }}
}
zvm_after_init_commands+=(setup_fzf)

# OMZSH
{{ $ohmyzsh_path := "/usr/share/oh-my-zsh" -}}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
{{ $ohmyzsh_path = "$HOME/.config/zsh/ohmyzsh" -}}
{{ end -}}
source {{ $ohmyzsh_path }}/lib/clipboard.zsh
source {{ $ohmyzsh_path }}/lib/compfix.zsh
source {{ $ohmyzsh_path }}/lib/completion.zsh
source {{ $ohmyzsh_path }}/lib/directories.zsh
source {{ $ohmyzsh_path }}/lib/functions.zsh
source {{ $ohmyzsh_path }}/lib/git.zsh
source {{ $ohmyzsh_path }}/lib/grep.zsh
source {{ $ohmyzsh_path }}/lib/history.zsh
source {{ $ohmyzsh_path }}/lib/key-bindings.zsh
source {{ $ohmyzsh_path }}/lib/misc.zsh
source {{ $ohmyzsh_path }}/lib/prompt_info_functions.zsh
source {{ $ohmyzsh_path }}/lib/theme-and-appearance.zsh
source {{ $ohmyzsh_path }}/lib/vcs_info.zsh
source {{ $ohmyzsh_path }}/plugins/archlinux/archlinux.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/extract/extract.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/git/git.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/gitignore/gitignore.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/gh/gh.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/python/python.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/pip/pip.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/rust/rust.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/docker/docker.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/docker-compose/docker-compose.plugin.zsh
source {{ $ohmyzsh_path }}/plugins/kubectl/kubectl.plugin.zsh

# zsh-users
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
source $HOME/.config/zsh/zsh-history-substring-search/zsh-history-substring-search.zsh
{{- else -}}
source /usr/share/zsh/plugins/zsh-history-substring-search/zsh-history-substring-search.zsh
{{- end }}
bindkey -M vicmd 'k' history-substring-search-up
bindkey -M vicmd 'j' history-substring-search-down
bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
source $HOME/.config/zsh/zsh-autosuggestions/zsh-autosuggestions.zsh
{{- else -}}
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
{{- end }}

[[ ! -d $HOME/.config/zsh/zsh-interactive-cd ]] \
    && git clone https://github.com/changyuheng/zsh-interactive-cd.git $HOME/.config/zsh/zsh-interactive-cd
source $HOME/.config/zsh/zsh-interactive-cd/zsh-interactive-cd.plugin.zsh

# zsh-plugins
[[ ! -d $HOME/.config/zsh/zsh-plugins ]] \
    && git clone https://github.com/emersonmx/zsh-plugins.git $HOME/.config/zsh/zsh-plugins
source $HOME/.config/zsh/zsh-plugins/chezmoi/chezmoi.zsh
source $HOME/.config/zsh/zsh-plugins/python/python.zsh
source $HOME/.config/zsh/zsh-plugins/tmuxp/tmuxp.zsh

# alias
alias o='open_command'
alias ssh='TERM="xterm-256color" ssh'
alias gcloud='TERM="xterm-256color" gcloud'
alias ls="lsd --group-dirs=first"
alias la="ls -lah"
alias gg="lazygit"

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
