[user]
	name = {{ .user.full_name }}
	email = {{ .user.email }}
[core]
	editor = vim
	excludesfile = ~/.config/git/gitignore_global
[push]
	default = simple
[diff]
	tool = vimdiff2
[difftool "vimdiff2"]
	cmd = vim -d $LOCAL $REMOTE
[commit]
	verbose = true
[init]
	defaultBranch = main
[alias]
	up = pull --rebase --autostash
	root = rev-parse --show-toplevel
[github]
	user = emersonmx
[gui]
	tabsize = 4
	spellingdictionary = pt_BR
	historybrowser = gitk
	fontdiff = -family \"DejaVu Sans Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	wmstate = normal
	geometry = 1366x712+0+0 490 306
[guitool "rm"]
	cmd = rm -f \"$FILENAME\"
	noconsole = yes
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[url "https://"]
	insteadOf = git://
