export HOME_LOCAL=$HOME/.local
{{ if eq .chezmoi.osRelease.id "ubuntu" }}
export ASDF_DIR=$HOME_LOCAL/share/asdf
export ASDF_DATA_DIR=$ASDF_DIR
{{ end }}
export FZF_DEFAULT_OPTS="--reverse"
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --no-ignore-vcs'
export COOKIECUTTER_CONFIG="$HOME/.config/cookiecutter/config.yaml"
