{
    "golang": [
        "github.com/go-delve/delve/cmd/dlv@latest",
        "github.com/golangci/golangci-lint/cmd/golangci-lint@latest",
        "github.com/mattn/efm-langserver@latest",
        "golang.org/x/tools/godoc@latest",
        "golang.org/x/tools/gopls@latest",
        "mvdan.cc/gofumpt@latest",
        "mvdan.cc/sh/v3/cmd/shfmt@latest"
    ],
    "nodejs": [
        "dockerfile-language-server-nodejs",
        "neovim",
        "semver",
        "tree-sitter-cli",
        "yarn"
    ],
    "python": [
        "add-trailing-comma",
        "aiohttp[speedups]",
        "bandit",
        "black",
        "cookiecutter",
        "flake8",
        "flake8-print",
        "gdtoolkit",
        "httpx[http2,brotli]",
        "invoke",
        "ipdb",
        "ipython",
        "isort",
        "mypy",
        "pep8-naming",
        "pip",
        "pip-tools",
        "pipx",
        "poetry",
        "pre-commit",
        "pre-commit-hooks",
        "pudb",
        "pydantic[email,dotenv]",
        "pynvim",
        "pytest",
        "pytest-randomly",
        "pyupgrade",
        "requests",
        "tmuxp",
        "types-invoke",
        "vim-vint",
        "virtualenv",
        "vulture",
        "yesqa"
    ],
    "rust": [
{{- if eq .chezmoi.osRelease.id "ubuntu" }}
        "bottom",
        "cargo-watch",
        "procs",
        "ripgrep",
        "sd",
        "tealdeer"
{{- else }}
        "cargo-watch"
{{- end }}
    ]
}
