{
    "golang": [
        "github.com/go-delve/delve/cmd/dlv@latest",
        "github.com/golangci/golangci-lint/cmd/golangci-lint@latest",
        "github.com/mattn/efm-langserver@latest",
        "golang.org/x/tools/cmd/godoc@latest",
        "golang.org/x/tools/gopls@latest",
        "mvdan.cc/gofumpt@latest",
        "mvdan.cc/sh/v3/cmd/shfmt@latest"
    ],
    "nodejs": [
        "dockerfile-language-server-nodejs",
        "neovim",
        "semver",
        "tree-sitter-cli",
        "yarn"
    ],
    "python": [
        "aiohttp[speedups]",
        "black",
        "flake8",
        "flake8-bugbear",
        "flake8-print",
        "httpx[http2,brotli]",
        "ipdb",
        "ipython",
        "isort",
        "mypy",
        "pep8-naming",
        "pip",
        "pydantic[email,dotenv]",
        "requests"
    ],
    "rust": [
{{- if eq .chezmoi.osRelease.id "ubuntu" }}
        "bottom",
        "cargo-watch",
        "procs",
        "ripgrep",
        "sd",
        "tealdeer"
{{- else }}
        "cargo-watch"
{{- end }}
    ]
}
